<!DOCTYPE html>
<html>
<head>
    <title>Downloads</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>



<body>

<a href="/download/transcript">Download Transcript</a>

</body>


<a href="{{ url_for('download_summary') }}" class="card">
    <h3>🖥️ Download Summary</h3>
</a>

<a href="{{ url_for('download_notes') }}" class="card">
    <h3>📝 Download Notes</h3>
</a>

<a href="{{ url_for('download_qa') }}" class="card">
    <h3>💬 Download Interview Q&A</h3>
</a>
<div style="text-align:center; margin-top:30px;">
    <a href="/" class="back-btn">← Back to Home</a>
</div>

</div>

</body>
</html>